{% extends 'base.html.twig' %}

{% block title %}Inscrivez Vous{% endblock %}

{% block body %}
<div class="containerRegister">
    <div class="formcontainerregister">
        <h1>inscription</h1>
        {{ form_start(form) }}
        
            {{ form_errors(form) }}
            {{ form_row(form.speudo) }}
            {{ form_row(form.Nom) }}
            {{ form_row(form.Prenom) }}
            {{ form_row(form.email) }}
            {{ form_row(form.adress) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.password) }}
            {{ form_row(form.visible) }}
            <div class="retourRegister">
                {{ form_row(form.submit) }}
           
                <div class="retour">
                    <a  href="{{ path('app_login')}}" >Retour</a>
                </div>
            </div>

        {{ form_end(form) }}  
    </div>

</div>


{% endblock %}
