{% extends 'base.html.twig' %}

{% block title %}chat {% endblock %}

{% block body %}
    <div class="contenaireChat">
        <div class="generalChat">
        
            <div class="containerPesudo">
                <div class="heaiderSpeudo">
                    <div class="titreChat">
                    <h1>Salut et bienvenue sur</h1>
                    <p>what chat </p>
                    </div>
                    <div class="burgerSpeudo">
                        <div class="burger">
                            <div class="line line1"></div>
                            <div class="line line2"></div>
                            <div class="line line3"></div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="corpSpeudo">
                
                    <img class="speudoImg" src="https://www.beachamigos.fr/media/uploaded/sites/9202/actualite/5c84f689e908e_Pseudoetanonymat.png" alt="image du speudo">
                    <div class="info">

                        {% if app.user.visible %}
                            <div class="infoProfil">
                                <p class="IntituleInfoProfil">Speudo :<br><span>{{ app.user.speudo }} </span ></p>
                            </div>

                        {% else %}
                            <div class="infoProfil">
                            
                                <p class="IntituleInfoProfil">Speudo :<br><span>{{ app.user.speudo }} </span ></p>
                                <p class="IntituleInfoProfil">Nom :<br><span>{{ app.user.Nom }} </span ></p>
                                <p class="IntituleInfoProfil">Prenom :<br><span>{{ app.user.Prenom }} </span ></p>
                                <p class="IntituleInfoProfil">Email :<br><span>{{ app.user.email }} </span ></p>
                                <p class="IntituleInfoProfil">N° téléphone :<br><span>{{ app.user.telephone }} </span ></p>

                            
                            </div>
                        {% endif %}
                    </div>
                    <div class="login ">
                                <a href="{{ path('acout_profil')}}">Modifier Vos informations </a>
                                <a href="{{ path('acout_password')}}">Modifier le mot de passe</a>
                                <a href="{{ path('app_logout')}}">Se déconecté</a>
                            </div>
                    

                </div>
            </div>
            <div class="containercorpChat">
                <div class="containerGroupe">
                    {% for channel in channels %}

                    <p>
                            {{ channel.name }}
                        </p>
                    {% endfor %}
                </div>
                <div class="containerPerticipent">
                    <div class="recherche">
                        
                    </div>
                    <div class="amis">
                    </div>
                    <div class="messagePriver">
                    </div>
                </div>
                <div class="containerMessage">
                    {% for message in messages %}
                {% if app.user == message.author %}
                    <div class="row w-75 float-right">
                        <b>{{ message.author.username }}</b>
                        <p class="alert alert-info w-100">
                            {{ message.content }}
                        </p>
                    </div>
                {% else %}
                    <div class="row w-75 float-left">
                        <b>{{ message.author.username }}</b>
                        <p class="alert alert-success w-100">
                            {{ message.content }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
            {{ form_start(formMessage) }}
        
            {{ form_errors(formMessage) }}
            {{ form_row(formMessage.content) }}
            
            
                {{ form_row(formMessage.submit) }}
           
               

        {{ form_end(formMessage) }} 
                </div>
            
            </div>
        </div>
    </div>


{% endblock %}
